@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook/GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook/GothamBook.woff") format("woff"), url("../fonts/GothamBook/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: 'gothambold1';
  src: url("../fonts/gothambold/gothambold1.eot");
  src: local("gothambold1"), url("../fonts/gothambold/gothambold1.woff") format("woff"), url("../fonts/gothambold/gothambold1.ttf") format("truetype");
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham Medium Regular.ttf") format("truetype"), url("../fonts/Gotham/gotham-medium-webfont.woff") format("woff"), url("../fonts/Gotham/gotham-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../Programming/js/exam/scss/_reset.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 5, ../Programming/js/exam/scss/_reset.scss */
body {
  background: #ffffff;
  text-decoration: none;
}

/* line 10, ../Programming/js/exam/scss/_reset.scss */
body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}

/* line 35, ../Programming/js/exam/scss/_reset.scss */
input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  box-sizing: border-box;
}

/* line 44, ../Programming/js/exam/scss/_reset.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 49, ../Programming/js/exam/scss/_reset.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 54, ../Programming/js/exam/scss/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 58, ../Programming/js/exam/scss/_reset.scss */
.mainer {
  max-width: 1200px;
  padding: auto 15px;
  margin: 0 auto;
}

/* line 64, ../Programming/js/exam/scss/_reset.scss */
.info__title,
.projects .title,
.news-title,
.gallery-title,
.contact-title {
  display: flex;
  flex-direction: column;
  font-size: 44px;
  font-family: "gothambold1", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  /* line 64, ../Programming/js/exam/scss/_reset.scss */
  .info__title,
  .projects .title,
  .news-title,
  .gallery-title,
  .contact-title {
    font-size: 36px;
    margin: 30px auto !important;
  }
}

@media screen and (max-width: 480px) {
  /* line 64, ../Programming/js/exam/scss/_reset.scss */
  .info__title,
  .projects .title,
  .news-title,
  .gallery-title,
  .contact-title {
    font-size: 24px;
    margin: 20px auto !important;
  }
}

/* line 84, ../Programming/js/exam/scss/_reset.scss */
#map {
  height: 700px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 84, ../Programming/js/exam/scss/_reset.scss */
  #map {
    height: 300px;
  }
}

@media screen and (max-width: 460px) {
  /* line 84, ../Programming/js/exam/scss/_reset.scss */
  #map {
    height: 200px;
  }
}

/* line 1, ../Programming/js/exam/scss/_header.scss */
.header-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

/* line 8, ../Programming/js/exam/scss/_header.scss */
.header-title__name {
  font-family: "gothambold1", sans-serif;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
}

/* line 14, ../Programming/js/exam/scss/_header.scss */
.header-title__desc {
  font-family: "GothamBook";
  font-size: 18px;
  letter-spacing: 0.3em;
  color: white;
  text-transform: uppercase;
}

/* line 22, ../Programming/js/exam/scss/_header.scss */
.header {
  position: relative;
}

@media screen and (max-width: 768px) {
  /* line 26, ../Programming/js/exam/scss/_header.scss */
  .slider-item {
    max-height: 110vw;
  }
  /* line 29, ../Programming/js/exam/scss/_header.scss */
  .header-title__name {
    font-size: 44px;
  }
}

@media screen and (max-width: 480px) {
  /* line 34, ../Programming/js/exam/scss/_header.scss */
  .icon-scroll {
    display: none;
  }
  /* line 37, ../Programming/js/exam/scss/_header.scss */
  .header-title {
    top: 120px;
  }
  /* line 39, ../Programming/js/exam/scss/_header.scss */
  .header-title__desc {
    font-size: 12px;
  }
  /* line 43, ../Programming/js/exam/scss/_header.scss */
  .header-title__name {
    font-size: 34px;
  }
}

/* line 47, ../Programming/js/exam/scss/_header.scss */
.icon-scroll {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: white 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* line 61, ../Programming/js/exam/scss/_header.scss */
.icon-scroll:hover {
  background-color: rgba(255, 255, 255, 0.521);
}

/* line 65, ../Programming/js/exam/scss/_header.scss */
.fa-angle-down {
  color: white;
  font-size: 16px;
  margin: 0 !important;
}

/* line 70, ../Programming/js/exam/scss/_header.scss */
.nav {
  background-color: #2c405860;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 20px 0;
}

/* line 77, ../Programming/js/exam/scss/_header.scss */
.nav--width {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

/* line 86, ../Programming/js/exam/scss/_header.scss */
.logo {
  width: 250px;
  height: 55px;
  fill: white;
  cursor: pointer;
  display: inline-block;
}

/* line 94, ../Programming/js/exam/scss/_header.scss */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

/* line 100, ../Programming/js/exam/scss/_header.scss */
.menu__item {
  color: white;
  text-transform: uppercase;
  font-family: "GothamBook";
  font-size: 14px;
  line-height: 22px;
  position: relative;
}

/* line 108, ../Programming/js/exam/scss/_header.scss */
.menu__item:hover {
  cursor: pointer;
}

/* line 110, ../Programming/js/exam/scss/_header.scss */
.menu__item:hover::before {
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: white 1px solid;
  border-radius: 50%;
  margin: 0 13px;
  background-color: white;
}

/* line 120, ../Programming/js/exam/scss/_header.scss */
.menu__item:hover::after {
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 17px;
  width: 1px;
  height: 100px;
  background-color: white;
}

/* line 132, ../Programming/js/exam/scss/_header.scss */
.menu__item::before {
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: white 1px solid;
  border-radius: 50%;
  margin: 0 13px;
}

/* line 141, ../Programming/js/exam/scss/_header.scss */
.menu__item--active::before {
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: white 1px solid;
  border-radius: 50%;
  margin: 0 13px;
  background-color: white;
}

/* line 154, ../Programming/js/exam/scss/_header.scss */
.icons {
  display: flex;
}

/* line 157, ../Programming/js/exam/scss/_header.scss */
.icons__item {
  width: 40px;
  height: 40px;
  border: white 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  cursor: pointer;
}

/* line 168, ../Programming/js/exam/scss/_header.scss */
.icons__item:hover,
.icons__item:hover > i {
  background-color: white;
  color: #2c4058;
}

/* line 173, ../Programming/js/exam/scss/_header.scss */
.icons__item .fab {
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 840px) {
  /* line 180, ../Programming/js/exam/scss/_header.scss */
  .icons {
    display: none;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 186, ../Programming/js/exam/scss/_header.scss */
  .nav {
    background-color: #2c4058;
  }
  /* line 189, ../Programming/js/exam/scss/_header.scss */
  .logo {
    height: 54px;
    width: 241px;
    background-image: url(../images/ie/logo.png);
  }
  /* line 194, ../Programming/js/exam/scss/_header.scss */
  .slider-item--ie {
    display: none;
  }
  /* line 197, ../Programming/js/exam/scss/_header.scss */
  .fas {
    display: block;
  }
  /* line 200, ../Programming/js/exam/scss/_header.scss */
  .icon-scroll {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* line 206, ../Programming/js/exam/scss/_header.scss */
  .menu {
    position: fixed;
    top: 95px;
    left: -3000px;
    background-color: #2c405860;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 0.3s;
  }
  /* line 217, ../Programming/js/exam/scss/_header.scss */
  .menu--open {
    left: 0;
  }
  /* line 220, ../Programming/js/exam/scss/_header.scss */
  .menu__item {
    margin: 0 0;
    padding: 15px;
    font-weight: bold;
  }
  /* line 224, ../Programming/js/exam/scss/_header.scss */
  .menu__item::before, .menu__item:hover::before, .menu__item:hover::after {
    content: none;
  }
}

/* line 232, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler {
  width: 42px;
  height: 42px;
  display: none;
  position: relative;
}

@media screen and (max-width: 768px) {
  /* line 240, ../Programming/js/exam/scss/_header.scss */
  .block-menu__toggler {
    display: block;
  }
}

/* line 245, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler-line {
  width: 100%;
  height: 7px;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
  position: absolute;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform-origin: center;
  transform-origin: center;
}

/* line 259, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler-line:nth-child(1) {
  top: 0;
}

/* line 263, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler-line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

/* line 269, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler-line:nth-child(3) {
  bottom: 0;
}

/* line 273, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler--open .block-menu__toggler-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(24px);
  transform: rotate(45deg) translateY(24px);
}

/* line 278, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler--open .block-menu__toggler-line:nth-child(2) {
  display: none;
}

/* line 282, ../Programming/js/exam/scss/_header.scss */
.block-menu__toggler--open .block-menu__toggler-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-24px);
  transform: rotate(-45deg) translateY(-24px);
}

/* line 1, ../Programming/js/exam/scss/_projects.scss */
.hidden-rtl,
.hidden {
  display: none;
}

/* line 5, ../Programming/js/exam/scss/_projects.scss */
.projects {
  padding: 100px 0 0 0px;
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  /* line 5, ../Programming/js/exam/scss/_projects.scss */
  .projects {
    padding: 40px 0;
  }
}

/* line 12, ../Programming/js/exam/scss/_projects.scss */
.title {
  text-align: center;
  margin: 0 auto 130px auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  /* line 12, ../Programming/js/exam/scss/_projects.scss */
  .title {
    margin: 20px 0;
  }
}

/* line 19, ../Programming/js/exam/scss/_projects.scss */
.title__line {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 0 auto 30px auto;
}

/* line 27, ../Programming/js/exam/scss/_projects.scss */
.project-block {
  display: flex;
  position: relative;
}

/* line 31, ../Programming/js/exam/scss/_projects.scss */
.image {
  max-width: 100%;
}

/* line 34, ../Programming/js/exam/scss/_projects.scss */
.image__bg {
  width: 585px;
  height: 470px;
  background-color: #55b7ff;
  position: absolute;
  left: -215px;
  top: -70px;
  z-index: -10;
}

/* line 43, ../Programming/js/exam/scss/_projects.scss */
.image--responsive {
  display: none;
}

/* line 48, ../Programming/js/exam/scss/_projects.scss */
p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  max-width: 100%;
}

/* line 55, ../Programming/js/exam/scss/_projects.scss */
.info {
  flex-grow: 1;
  margin: 60px 0 0 70px;
  max-width: 100%;
}

/* line 59, ../Programming/js/exam/scss/_projects.scss */
.info--rtl {
  margin: 60px 30px 0 0;
}

/* line 62, ../Programming/js/exam/scss/_projects.scss */
.info__name {
  font-size: 22px;
  text-transform: uppercase;
}

/* line 66, ../Programming/js/exam/scss/_projects.scss */
.info__title {
  margin: 10px 0;
}

/* line 69, ../Programming/js/exam/scss/_projects.scss */
.info__details {
  font-size: 14px;
  color: #2c4058;
  font-family: "GothamBook";
  border: 1px solid #2c4058;
  padding: 15px 40px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 35px 0 60px 0;
  cursor: pointer;
}

/* line 80, ../Programming/js/exam/scss/_projects.scss */
.info__details:hover, .info__details:focus {
  background-color: #2c4058;
  color: white;
}

/* line 86, ../Programming/js/exam/scss/_projects.scss */
.info__localion {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: italic;
}

/* line 94, ../Programming/js/exam/scss/_projects.scss */
.fas {
  margin: 0 10px 0 0;
}

/* line 97, ../Programming/js/exam/scss/_projects.scss */
.project-block--rtl {
  position: relative;
  margin: 210px 0 140px 0 !important;
}

/* line 101, ../Programming/js/exam/scss/_projects.scss */
.project-block--rtl .image {
  margin-left: 70px;
  position: relative;
}

/* line 104, ../Programming/js/exam/scss/_projects.scss */
.project-block--rtl .image__bg--rtl {
  position: absolute;
  right: -600px;
  top: -70px;
  z-index: -10;
  overflow: hidden;
}

@media screen and (max-width: 1440px) {
  /* line 114, ../Programming/js/exam/scss/_projects.scss */
  .image__bg--rtl,
  .image__bg {
    display: none;
  }
}

@media screen and (max-width: 1160px) {
  /* line 121, ../Programming/js/exam/scss/_projects.scss */
  .project-block,
  .project-block--rtl {
    display: block;
    width: 90%;
    margin: 0 auto !important;
    text-align: left;
  }
  /* line 128, ../Programming/js/exam/scss/_projects.scss */
  .title {
    padding: 0;
    margin: 0 auto 20px 0;
  }
  /* line 132, ../Programming/js/exam/scss/_projects.scss */
  .info {
    margin: 30px auto !important;
  }
  /* line 135, ../Programming/js/exam/scss/_projects.scss */
  .image {
    display: block;
    margin: 0 auto !important;
  }
  /* line 138, ../Programming/js/exam/scss/_projects.scss */
  .image__photo {
    width: 90%;
  }
  /* line 141, ../Programming/js/exam/scss/_projects.scss */
  .image--responsive {
    display: block !important;
  }
  /* line 144, ../Programming/js/exam/scss/_projects.scss */
  .image__bg--rtl, .image__bg, .image--rtl {
    display: none !important;
  }
}

/* line 1, ../Programming/js/exam/scss/_news.scss */
.news {
  background-image: url(../images/news/bg.png);
  background-size: cover;
  padding: 100px 0 100px 0;
}

@media screen and (max-width: 768px) {
  /* line 1, ../Programming/js/exam/scss/_news.scss */
  .news {
    padding: 20px 0;
  }
}

/* line 9, ../Programming/js/exam/scss/_news.scss */
.news-title {
  text-align: center;
  color: white;
  margin: 0 auto 100px auto;
  position: relative;
}

/* line 14, ../Programming/js/exam/scss/_news.scss */
.news-title__line {
  background-color: white;
  margin: 0 auto;
  width: 100px;
  height: 1px;
  margin: 0 auto 30px auto;
  display: flex;
}

/* line 24, ../Programming/js/exam/scss/_news.scss */
.slider-news {
  width: 100%;
  margin-bottom: 130px;
}

/* line 28, ../Programming/js/exam/scss/_news.scss */
.news-item {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

/* line 37, ../Programming/js/exam/scss/_news.scss */
.news-item__title {
  text-transform: uppercase;
  font-family: "gothambold1", sans-serif;
  font-size: 22px;
  color: #2c4058;
  line-height: 34px;
}

/* line 44, ../Programming/js/exam/scss/_news.scss */
.news-item__desc {
  font-size: 18px;
  line-height: 30px;
  color: #2c4058;
  font-family: 'Open Sans', sans-serif;
}

/* line 50, ../Programming/js/exam/scss/_news.scss */
.news-item__img {
  width: 100%;
}

/* line 53, ../Programming/js/exam/scss/_news.scss */
.news-item__author {
  display: flex;
  padding: 30px 0 0 0;
  align-items: center;
}

/* line 60, ../Programming/js/exam/scss/_news.scss */
.author__logo {
  border-radius: 50%;
  margin: 0 20px 0 0;
}

/* line 64, ../Programming/js/exam/scss/_news.scss */
.author__name {
  font-family: "GothamBook";
  font-size: 18px;
  text-transform: uppercase;
  line-height: 22px;
}

/* line 70, ../Programming/js/exam/scss/_news.scss */
.author__date {
  font-size: 14px;
  line-height: 22px;
  color: #55b7ff;
  font-family: "GothamBook";
  margin: 5px 0 0 0;
}

/* line 78, ../Programming/js/exam/scss/_news.scss */
.author__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

/* line 85, ../Programming/js/exam/scss/_news.scss */
.news-item__hover {
  height: 80px;
  width: 80px;
  background-image: url(../images/news/hover.png);
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

/* line 95, ../Programming/js/exam/scss/_news.scss */
.news-item:hover .news-item__hover {
  display: block;
}

/* line 99, ../Programming/js/exam/scss/_news.scss */
.news-text {
  background-color: white;
  padding: 20px;
}

/* line 105, ../Programming/js/exam/scss/_news.scss */
.prev, .next {
  width: 40px;
  height: 40px;
  background-image: url(../images/news/arrows.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  display: block;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  overflow: hidden;
}

/* line 120, ../Programming/js/exam/scss/_news.scss */
.prev {
  left: -80px;
}

/* line 123, ../Programming/js/exam/scss/_news.scss */
.next {
  right: -80px;
  background-position: 100%;
}

/* line 127, ../Programming/js/exam/scss/_news.scss */
.prev:hover, .next:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.712);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 134, ../Programming/js/exam/scss/_news.scss */
  .news-item {
    display: inline-block;
    width: 355px;
  }
  /* line 137, ../Programming/js/exam/scss/_news.scss */
  .news-item--ie {
    display: none;
  }
  /* line 141, ../Programming/js/exam/scss/_news.scss */
  .map {
    height: 200px;
  }
}

/* line 1, ../Programming/js/exam/scss/_gallery.scss */
.gallery-title {
  text-align: center;
  position: relative;
  margin: 140px 0 100px 0;
}

/* line 6, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block {
  display: flex;
  align-items: center;
}

/* line 9, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  position: relative;
}

/* line 15, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img:hover .gallery-block__img--hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}

@media screen and (max-width: 1200px) {
  /* line 9, ../Programming/js/exam/scss/_gallery.scss */
  .gallery-block__img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 594px) {
  /* line 9, ../Programming/js/exam/scss/_gallery.scss */
  .gallery-block__img {
    display: none;
  }
}

/* line 26, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img--big {
  margin: 0 auto;
}

/* line 30, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img--small {
  position: relative;
}

/* line 32, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img--small:hover .gallery-block__img--hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}

/* line 37, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img--hover {
  z-index: 10;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  fill: white;
  opacity: 0;
}

/* line 48, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img--margin {
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
}

/* line 55, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__img--margin:hover {
  border: 1px solid #2c4058;
  box-sizing: border-box;
  position: relative;
}

/* line 63, ../Programming/js/exam/scss/_gallery.scss */
.gallery-block__small {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* line 71, ../Programming/js/exam/scss/_gallery.scss */
.gallery-btn {
  display: flex;
  font-size: 14px;
  color: #2c4058;
  font-family: "GothamBook";
  border: 1px solid #2c4058;
  padding: 15px 40px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 35px auto 140px auto;
  cursor: pointer;
}

/* line 82, ../Programming/js/exam/scss/_gallery.scss */
.gallery-btn:hover, .gallery-btn:focus {
  background-color: #2c4058;
  color: white;
}

@media screen and (max-width: 1200px) {
  /* line 88, ../Programming/js/exam/scss/_gallery.scss */
  .gallery-block {
    flex-direction: column;
  }
  /* line 90, ../Programming/js/exam/scss/_gallery.scss */
  .gallery-block__img {
    width: auto;
  }
}

/* line 1, ../Programming/js/exam/scss/_contacts.scss */
.contact {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

/* line 5, ../Programming/js/exam/scss/_contacts.scss */
.contact-title {
  text-align: center;
  position: relative;
  margin: 0px 0 30px 0;
  font-family: "Gotham", sans-serif;
}

/* line 11, ../Programming/js/exam/scss/_contacts.scss */
.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 17, ../Programming/js/exam/scss/_contacts.scss */
.contact-list {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

/* line 21, ../Programming/js/exam/scss/_contacts.scss */
.contact-list__adress, .contact-list__phone, .contact-list__email, .contact-list__time {
  margin: 20px 0;
  font-size: 18px;
  font-family: "GothamBook";
}

/* line 28, ../Programming/js/exam/scss/_contacts.scss */
.contact-list__adress i, .contact-list__phone i, .contact-list__email i, .contact-list__time i {
  color: #7e5aff;
  margin-right: 10px;
}

/* line 34, ../Programming/js/exam/scss/_contacts.scss */
.contact-wrapper {
  position: absolute;
  background-image: url(../images/contact/bg.png);
  background-size: cover;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  /* line 34, ../Programming/js/exam/scss/_contacts.scss */
  .contact-wrapper {
    position: static;
    top: 0px;
    left: 0;
    transform: translateX(0%);
  }
}

/* line 53, ../Programming/js/exam/scss/_contacts.scss */
.form {
  display: flex;
  flex-direction: column;
}

/* line 57, ../Programming/js/exam/scss/_contacts.scss */
#name,
#email {
  width: 310px;
  font-size: 18px;
  font-family: "GothamBook";
  color: #2c4058;
  height: 50px;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #2c4058;
}

@media screen and (max-width: 768px) {
  /* line 57, ../Programming/js/exam/scss/_contacts.scss */
  #name,
  #email {
    width: 100%;
  }
}

/* line 71, ../Programming/js/exam/scss/_contacts.scss */
#name::placeholder,
#email::placeholder {
  opacity: 0.5;
}

/* line 75, ../Programming/js/exam/scss/_contacts.scss */
#submit {
  font-size: 14px;
  font-family: "GothamBook";
  border: 1px solid #2c4058;
  padding: 15px 40px;
  width: 140px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 35px 0 60px 0;
  cursor: pointer;
  align-self: flex-end;
}

/* line 87, ../Programming/js/exam/scss/_contacts.scss */
#submit:hover, #submit:focus {
  background-color: #2c4058;
  color: white;
}

@media screen and (max-width: 768px) {
  /* line 95, ../Programming/js/exam/scss/_contacts.scss */
  .contact-form {
    display: block;
    flex-direction: column;
  }
  /* line 99, ../Programming/js/exam/scss/_contacts.scss */
  #submit {
    align-self: start !important;
  }
}

/* line 1, ../Programming/js/exam/scss/_footer.scss */
.footer {
  background-image: url(../images/footer/bg.png);
  background-size: cover;
  position: relative;
  padding: 200px 0;
}

/* line 6, ../Programming/js/exam/scss/_footer.scss */
.footer-nav {
  display: flex;
  justify-content: space-between;
  max-width: 770px;
  margin: 0 auto;
  align-items: center;
}

/* line 12, ../Programming/js/exam/scss/_footer.scss */
.footer-nav__icons {
  margin: 0;
}

/* line 16, ../Programming/js/exam/scss/_footer.scss */
.footer-block {
  max-width: 770px;
  margin: 40px auto 0 auto;
}

/* line 19, ../Programming/js/exam/scss/_footer.scss */
.footer-block__item {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-family: "GothamBook";
}

/* line 24, ../Programming/js/exam/scss/_footer.scss */
.footer-block__item--space {
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  /* line 31, ../Programming/js/exam/scss/_footer.scss */
  .footer {
    padding: 20px;
    margin: auto;
  }
  /* line 34, ../Programming/js/exam/scss/_footer.scss */
  .footer-nav__logo {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */